<!--html section for project page and services page-->
  <main class="container" >
    <div class="jumbotron"> 
    <!-- html section for project page-->    
        <% if(title == "Projects") { %>      
            <h1 class="display-4" ><b>My Projects</b></h1><br><br>
            <div class = "tab_con" >
                <div class ="row_con" style="align:center;">
                    <div style= "display: table-cell ; float:left;">
                        <img src="Assets\images/apparels_image.jpg" />
                    </div>

                    <div class ="col_con"> 
                        <h3 class="display-6">Ecommerce Website</h3>
                        <p style=" font-family: arial; text-align: center">
                          &nbsp  We developed  core modules such as products and orders of the web application. Gained command over end to end flow of an e-commerce tool.  
                        </p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class = "tab_con" >
                <div class ="row_con" style="align:center;">
                    <div style= "display: table-cell ; float:left;">
                        <img src="Assets\images/areonautics_image.jpg" />
                    </div>

                    <div class ="col_con"> 
                        <h3 class="display-6">Aeronauticals Ecommerce Website</h3>
                        <p style=" font-family: arial; text-align: center">
                           &nbsp we as a team developed the world's one of the most leading leading aeronautical company. Have received commandable appreciation and recognition for exhibiting excellence in adding new features into the project and upgrading the existing functionalities and hence enhancing th euser experience in a B2B Ecommerce application.
                        </p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class = "tab_con">
                <div class ="row_con" style="align:center;">
                    <div style= "display: table-cell ; float:left;">
                        <img src="Assets\images/automobile_image.png" />
                    </div>

                    <div class ="col_con"> 
                        <h3 class="display-6">Automobile Ecommerce Website</h3>
                        <p style=" font-family: arial; text-align: center">
                           &nbsp I worked as a key member among a set of enthusiastic developers to provide support and maintanence for a Japenese automobile web application. Core member in taking responsibilities and resolving priority defects raised during the production phase of the project. Played an important role in actively supporting the team during critical situations. 
                        </p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class = "tab_con">
                <div class ="row_con" style="align:center;">
                    <div style= "display: table-cell ; float:left;">
                        <img src="Assets\images/healthCare_image.jpg" />
                    </div>

                    <div class ="col_con"> 
                        <h3 class="display-6">HealthCare Ecommerce Website</h3>
                        <p style=" font-family: arial; text-align: center">
                           &nbsp Independently worked in developing a US HealthCare web application. Successful in handling major modules such as Customer management, Order and checkout. I was a promary resource in enhancing the look and feel of the website according to user preferance and requirements.
                        </p>
                    </div>
                </div>
            </div>
            <br><br>
        <!-- html section for services page-->
        <% } else if(title == "Services") { %> 
            <h1 class="display-4" ><b>My Services</b></h1><br><br>
            <p style=" font-family: arial; ">
            <b>Below are the list of services which I offer in Information and Technology domain:<b> 
            <br>
            <div class = "content"  style=" padding: 25px 25px 25px 25px; align:center; border: 2px solid black;">
                 <img src="Assets\images/web_application_image.jpg" class = "" style = "padding-left: 150px; opacity: 0.8 "/>
                 <b style="font-size: 22px; text-align:center; ";> Web Application Development </b>   
                 <br><br>
                 <img src="Assets\images/android_application.jpg" style= "padding-left: 150px; opacity: 0.8 ";/>
                 <b style="font-size: 22px;text-align:center";> Web Application Development Support </b>
                 <br><br>
                 <img src="Assets\images/aws-images.jpg" style= "padding-left: 150px; opacity: 0.8 "/>
                 <b style="font-size: 22px;text-align:center";>Digital Marketing </b>
                 <br><br>
                 <img src="Assets\images/project_management.jpg" style= "padding-left: 150px; opacity: 0.8 "/>
                 <b style="font-size: 22px;text-align:center";>Project Management </b>
                 <br><br>
         <% } %>    
    </div>
  </main>