<!-- html section for home page--> 
   
  <div class="container">
    <div class="jumbotron"  >
      <!-- welcome message and content--> 
        <h6 class="display-4" ><b>Hello everyone, I am!</b></h6>   
        <div class="display-2" ><b><b>Natisha Singla<b></b></div>  <br>
            <p style = "text-align :center; font-size:20px"><b> Jr.Computer Scinece Professor| Web Developer <b></p>
            <br>
            <p class="" style="text-align:justify; font-family: calibri; font-size:20px">Graduated in Bachelors of Computer Science and Have Teaching Experience in Computer Science.I love to code from my childhood and wanted to work on technologies and improves my skills in Java, Angular,React , Python so I Highly desired and motivated to pursue higher education in the field of Software Engineering Technician as I have always been fascinated about adaptive and intelligent systems. </p>
            <br> <br>
            <div clas="" style ="text-align: center" >
              <a href="/about" style="color:#000; text-decoration:underline;"><b>About Me</b></a> &nbsp;
              <a href="/projects" style="color: #000 ; text-decoration:underline;"><b>Projects</b></a>&nbsp;
              <a href="/services" style="color: #000 ; text-decoration:underline;"><b>Services</b></a>&nbsp;
              <a href="/contact" style="color: #000  ;text-decoration:underline;"><b>Contact Me</a> &nbsp;
              </div>
      

    </div>
  </div>
