<!-- Html section for about me page--> 
  <main class="container" style=" margin: auto;" >
    <div class="jumbotron " >
      <h1 class="display-4" style="text-align: center;"><b>Contact Me</b></h1>   
      <br><br>
      <!-- contact details section--> 
      <div class="hero hero-bg d-flex align:center ; justify-content-center ";  style=" height: 900px; width: 850px;">
        <div class = "contact_det" style= "color:white" >
        <b>Contact Details:</b>
        <br><br>
        <i class="fas fa-lg fa-laptop-house"></i>  Address:<br style= "font-family: arial"> <I>Scarborough,ON M1R4K6</I>
        <br><br>
        <i class="fas fa-mobile-alt"></i>  Phone:<br> <I>+16475699143</I>
        <br><br>
        <i class="fas fa-envelope-open"></i> Email: <br><I> Nsingl10@my.centennialcollege.ca</I>
        </div>
        <!-- contact form section--> 
        <div class = "contact_mess">
          <p style="text-align: center;font-family: arial; font-size: 25px"><b><I>Send me a message</I></b><br><br>
            <form action="/home">
                  <label for="fname"><b>First name:</label>
                  <input type="text" id="Message" name="fname" value="" size="20" ><br><br>
                  <label for="lname"><b>Last name:</label>
                  <input type="text" id="lname" name="lname" value="" size="20"><br><br>
                  <label for="contactnumber"><b>Contact Number:</label>
                  <input type="text" id="contactnumber" name="contactnumber" value="" size="20"><br><br>
                  <label for="email"><b>Email Id:</label>
                  <input type="text" id="email" name="email" value="" size="20"><br><br>
                  <label for="message"><b>Message:</label><br><br>
                  <textarea rows="4" cols="30" name="message"
                  placeholder="Enter you text here..."></textarea>
                  <br>
                  <input class= "m_btn" type="submit"/>
                  
              </form>
              
        </div>
      </section>
    
    </div>
  </main>

 