<!-- Html section for about me page--> 
<main class="container" >
    <div class="jumbotron">     
            <h1 class="display-4"><b>About Me</b></h1><br>
            <div class="main_con" style= "align:left">
                <div style= "display: table-cell ; float:left; align:left">
                    <img src="Assets\images/photo.jpeg" /><br><br>
                    <h3 class="display-6">Natisha Singla</h3>
                </div>

                <div class="main_con_r1">                  
                    <p class="" style="text-align:justify; font-family: arial; padding: 10px 10px 10px 10px;">
                       Customer Service Representative bringing top-notch skills in oral and written communication, activelistening and analytical problem solving skills. Enhances customer experiences by employing service-oriented behaviours, understanding customer desires and providing customer solutions to build loyalty.
                       <br>
                     I am a self motivated and optimistic individual who always have a deep quest for knowledge and enthusiasm to learn and explore different domain and technologies.  I'm learning Java and other backend technologies to match the industry criteria.         </p>
                    
                </div>              
            </div>
            <a href="Assets\files\Natisha_Resume.pdf" style="color: #000;text-decoration:underline; align:center"><b>Check my Resume</a>

    </div>
</main>